#{extends 'main.html' /}
#{set title:'Welcome on Square Of The Dead' /}
#{set moreStyles:'/public/stylesheets/authenticate.css' /}

<div id="bandeau"></div>

<div class="container" id="containerTitle">
	<div id="infos">
	Player = ${firstName}
	<br>
	Current Mode = ${contamination}
	<br>
	Score = 155 points
	</div>
	<img src="/public/images/title_home.png" id="title" alt="Square of the Dead"/>
</div>
<div class="container" id="containerRules">
	<img src="/public/images/rules.png" id="rules"/>
</div>
