#{extends 'main.html' /}
#{set title:'Welcome on Square Of The Dead' /}
#{set moreStyles:'/public/stylesheets/authenticate.css' /}

<div id="bandeau"></div>

<div class="container" id="containerTitle">
	<div id="infos">
	Player: ${player.firstName}
	<br>
	<span style="#{if player.contaminated}color:#c1272d;#{/if}#{else}color:#8cc63f;#{/else}">${contamination}</span>
	<br>
	#{if player.weapons > 0}
	Weapons: ${player.weapons}
	<br>
	#{/if}
	Score: ${player.score}
	</div>
	<img src="/public/images/title_home.png" id="title" alt="Square of the Dead"/>
</div>
<div class="container" id="containerRules">
	<img src="/public/images/rules.png" id="rules"/>
</div>
