#{extends 'main.html' /}
#{set title:'Square Of The Dead' /}
#{set moreStyles:'/public/stylesheets/index.css' /}

<img src="/public/images/home.png" id="bg"/>

<div id="bandeau"></div>

<div class="container" id="containerTitle">
	<img src="/public/images/title_home.png" id="title" alt="Square of the Dead"/>
</div>
<div class="container" id="containerBaseLine">
<h1 id="baseLine">RESIST A ZOMBIE INVASION IN YOUR CITY</h1>
</div>
<div class="container" id="containerConnect">
	<a href="${fourSquareConnectUrl}" id="fqConnect"><img src="/public/images/connect.png" id="connect"/></a>
</div>